/** General Styles **/ 
:root{
--white: #FFFFFF;
--black: #000000;
--dark: #232830;
--very-light-pink: #C7C7C7;
--text-input-field: #F7F7F7;
--hospital-green: #ACD9B2;
--small: 1.4rem;
--medium: 1.6rem;
--large: 1.8rem;
--desktop-card-width: 24rem;
--mobile-card-width: 14rem;
--desktop-card-height: 30rem;
--mobile-card-height: 20rem;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
     display: none;
}
/** Navbar Styles **/ 
.main-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    border-bottom: 1px solid var(--text-input-field);
}
.navbar-left {
    display: flex;
}
.navbar-left div {
    display: flex;
    align-items: center;
}
.navbar-left ul{
    margin-left: 3rem;
}
.navbar-left ul, .navbar-right ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
}
.navbar-left img{
    width: 10rem;
}
.menu {
    display: none;
}
.navbar-left ul li a, .navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 0.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
.navbar-left ul li a:hover, 
.navbar-right ul li a:hover{
    text-decoration: none;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 0.8rem;
}
.navbar-right{
    display: flex;
    align-items: center;
}
.nav-bar-email{
    color: var(--very-light-pink);
    font-size: 1rem;
    cursor: pointer;
}
.nav-bar-cart{
    margin-left: 1.6rem;
}
/** Desktop menu styles **/
.desktop-menu {
    position: absolute;
    background-color: var(--white);
    right: 8.4rem;
    top: 3rem;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    z-index: 2;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--back);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}
 /** Mobile menu styles **/
.mobile-menu{
    position: absolute;
    background-color: var(--white);
    top: 3rem;
    width: 150px;
    padding: 2rem;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    z-index: 2;
}
.mobile-menu div{
    margin-bottom: 1.2rem;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--small);
    cursor: pointer;
}
.categories-list{
    height: 50%;
    border-bottom: 1px solid var(--very-light-pink);
}
.primary-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.categories-item{
    margin-bottom: 0.8rem;
}
.other-info-list{
    height: auto;
}
.my-info{
    height: auto;
}
.my-info .primary-list .categories-item a:nth-child(1){
    color: var(--very-light-pink);
    font-size: 0.8rem;
    font-weight: 500;
}
.mobile-menu .my-info .primary-list .categories-item #sign-out{
    color: var(--hospital-green);
    font-size: var(--small);
}

/** Shopping Cart Styles**/

.my-shopping-cart{
    width: 380px;
    height: 490px;
    right: 3rem;
    top: 5rem;
    position: absolute;
    z-index: 2;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
}
.nav-bar-shopping-cart{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-bar-shopping-cart img{
    width: 2rem;
    height: 2rem;
    rotate: 180deg;
}
.nav-bar-shopping-cart p{
    color: var(--black);
    font-size: var(--large);
    font-weight: bold;
}
.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 0.8rem;
    width: 100%;
    height: 5.6rem;
    color: var(--white);
    cursor: pointer;
    font-size:var(--medium);
    font-weight: bold;
}
.shopping-cart-container{
    width: 100%;
    height: 460px;
    padding: 1rem;
}
.shopping-cart-info{
    background-color: var(--text-input-field);
    border-radius: 1.2rem;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    height: 5rem;
}
.shopping-cart-info p:nth-child(1){
    display: flex;
    align-items: center;
    font-size: var(--small);
    font-weight: bold;            
}
.shopping-cart-info p:nth-child(2){
    display: flex;
    align-items: center; 
    font-size: var(--small);
    font-weight: bold;         
}
.shopping-cart-products-container{
    display: grid;
    grid-template-rows: repeat(4, 7rem);
    margin-bottom: 2rem;
    height: 280px;
    overflow-y: scroll;
}
.product-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-item p{
    color: var(--black);
    font-size: var(--small);
    font-weight: bold;
}
.product-info{
    display: flex;
    align-items: center;
}
.product-info figure{
    margin: 0;
}
.product-info figure img{ 
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 2rem;
}
.product-item .product-info  figure + p{
    margin-left: 1.6rem;
    color: var(--very-light-pink);
    font-size: var(--small);
    font-weight: 500;
}
.product-cancelled{
    display: flex;
    align-items: center;
}
.product-cancelled p{
    display: flex;
    align-items: center;
}
.product-cancelled figure{
    height: 14px;
    width: 14px;
    margin-left: 2rem;
}

/** Product catalog styles **/
.main-section{
    position: relative;
}
.catalog-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--desktop-card-width));
    gap: 2rem;
    place-content: center;
    margin-top: 2rem;
}
.product-card{
    width: var(--desktop-card-width);
    height: var(--desktop-card-height);
    border-radius: 1.8rem;
}
.product-card img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 1.8rem;
}
.product-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-description div{
    margin-top: 0.4rem;
}
.product-description div p:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: var(--medium);
    margin-top: 0;
    margin-bottom: 0.4rem;
}
.product-description div p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--small);
    margin-top: 0;
    margin-bottom: 0;
}
.purchase-product{
    margin: 0;
}
.purchase-product img{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

/** Individual product card styles**/

.product-detail{
    width: 360px;
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 1rem;
}
.product-detail-close{
    background: var(--white);
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    padding: 0.8rem;
    border-radius: 50%;
    z-index: 1;
}
.product-detail-close img{
    width: 1.4rem;
    height: 1.4rem;
}
.product-detail-close:hover{
    cursor: pointer;
}
.product-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 2rem;
    margin-bottom: 0.8rem;
}
.dots{
    display: flex;
    justify-content: center;
}
.dot{
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: inline-block;
}
.dot:active, .dot:hover{
    background-color: var(--very-light-pink);
}
.product-info{
    margin: 1.2rem 0;
}
.product-info p:nth-child(1){
    font-size: var(--small);
    font-weight: bold;
    margin: 0 0 0.4rem 0;
}
.product-info p:nth-child(2){
    font-size: var(--small);
    font-weight: 500;
    color: var(--very-light-pink);
    margin: 0 0 1.2rem 0;
}
.product-info p:nth-child(3){
    font-size: var(--small);
    font-weight: 300;
    color: var(--very-light-pink);
    margin: 0 0 3.2rem 0;
}
.product-detail .product-info{
    display: block;
    margin: 1.2rem;
}
.add-to-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 640px){
    .product-detail{
        width: 100%;
        margin: 0;
        left: 1rem;
        padding-right: 2rem;
    }
}
/** Media querys**/

@media (max-width: 640px){
    .menu{
        display: block;
    }
    .navbar-left ul, .nav-bar-email, .desktop-menu{
        display: none;
    }
    .my-shopping-cart{
        width: 100%;
        margin: 0;
        padding-right: 1rem;
        left: 1rem;
    }
    .shopping-cart-container{
        width: 100%;
        margin: 0;
    }
    .main-navbar{
        padding: 0 1rem;
    }
    .catalog-container{
        grid-template-columns: repeat(auto-fill, var(--mobile-card-width));
    }
    .product-card{
        width: var(--mobile-card-width);
        height: var(--mobile-card-height);
    }
    .product-card img{
        height: 65%;
    }
    
    .product-description div p:nth-child(1){
        font-size: var(--small);
    }
    .product-description figure img{
        width: 3.5rem;
        height: 3.5rem;
    }
    
}
@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}

